* {
  margin: 0;
  padding: 0;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
body {
  background: #080808;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
/*----------------------------header----------------------------*/
#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/back.png);
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  width: 200px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 15%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
span {
  color: #ff0004;
}
.logo-link {
  display: flex;
  list-style: none;
  margin: 6% 10px;
}
.header-logo-link:link,
.header-logo-link:visited {
  color: #fff;
  padding-right: 16px;
  font-size: 150%;
  transition: all 0.4s;
}
.header-logo-link:active,
.header-logo-link:hover {
  color: #ff0000;
  font-size: 160%;
  transform: translateY(-10px);
}
/*--------------------------About------------------------*/
#about {
  padding: 80px 0px;
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 16px;
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 20px;
}
.about-para-text {
  font-family: sans-serif;
  font-size: 18px;
  text-align: justify;
  font-weight: 200;
}
.tab-title {
  display: flex;
  margin: 20px 10px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff0000;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.4s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 20px 0;
}
.tab-contents ul li span {
  font-size: 14px;
}
.content-subtext {
  font-family: sans-serif;
  margin-top: 10px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
/*---------------------------services---------------------*/
.services {
  padding: 30px 0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.4s, transform 0.4s;
}
.services-list div ion-icon {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  background: #ff0000;
  transform: translateY(-10px);
}
/*---------------------portfolio------------------*/
#portfolio {
  padding: 50px 0;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.4s;
}
.layer {
  height: 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff0000);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.4s;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #ff0000;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  align-items: center;
  position: relative;
}
.link {
  font-size: 36px;
  position: absolute;
  left: 12px;
  top: 11px;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  border: 1px solid #ff0000;
  margin: 50px auto;
  width: fit-content;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.4s;
}
.btn:hover {
  background: #ff0000;
}
/*----------------contact------------------*/
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p ion-icon {
  color: #ff0000;
  margin-right: 15px;
  font-size: 25px !important;
  vertical-align: middle;
}
.social-icons {
  margin-top: 30px;
}
.con-social-link {
  font-size: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.4s;
}

.social-icons a:hover {
  color: #ff0000;
  transform: translateY(-5px);
}
.btn.btn-2 {
  display: inline-block;
  background: #ff0000;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn-2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.copy-right {
  width: 100%;
  padding: 25px 0;
  padding-left: 20px;
  border-top: 1px solid;
  border-image: linear-gradient(
      to right,
      #ffffff 0%,
      #ffffff 10%,
      #ff0000 50%,
      #ffffff 90%,
      #ffffff 100%
    )
    1;
  margin-top: 20px;
}

/* ---------------------- Responsive CSS ---------------------- */
nav .nav-menu {
  display: none;
}
@media only screen and (max-width: 600px) {
  #header {
    background-image: url(images/mobile-background.png);
  }
  .header-text {
    margin-top: 99%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .nav-menu {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #ff0000;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.4s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .nav-menu {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
}
